{% extends 'base.html' %}

{%  block title %}New Post{% endblock %}


{% block content %}
    <article>

        <form method="post">
            <input class="blogInputTitle" name="title" id="title" placeholder="Title" value="{{ request.form['title'] }}" required>
            <hr>
            <textarea id="body" name="body" class="blogInputBody" placeholder="Post" required onkeypress='this.style.height = this.scrollHeight + "px"'>{{ request.form['body'] }}</textarea>
            <input type="submit" value="Save">
        </form>
    </article>
{% endblock %}