{% extends 'base.html' %}

{%  block title %}Posts{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
    <article style="padding-top: 0; padding-bottom: 0">
        {% if offset - 5 >= 0 %}
            <a class="previousPageLink" href={{ url_for("blog.blog", offset=offset - 5) }}>Previous Page</a>
        {% elif offset > 0 %}
            <a class="previousPageLink" href={{ url_for("blog.blog", offset=0) }}>Previous Page</a>
        {% endif %}
    </article>
    {% for post in posts %}
        <article class="post">
            <header>
                <div>
                    <h3 class="postTitle"><a href="/{{ post['id'] }}">{{ post['title'] }}</a></h3>
                    <hr>
                    <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
                </div>
                {% if g.user['id'] == post['author_id'] %}
                    <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
                {% endif %}
            </header>
            {% if len(post['body']) > 600 %}
                <p class="body">{{ mistune.markdown(post['body'][:600] + "...", renderer=highlighter.HighlightRenderer()) | safe}}</p>
                <a href="/{{ post['id'] }}"><p>Read More</p></a>
            {% else %}
                <p class="body">{{ mistune.markdown(post['body'], renderer=highlighter.HighlightRenderer()) | safe}}</p>
            {% endif %}

        </article>
    {% endfor %}
    <article>
    {% if offset + 5 < total_posts[0] - 1 %}
        <a class="nextPageLink" href={{ url_for("blog.blog", offset=offset + 5) }}>Next Page</a>
    {% endif %}
    </article>
{% endblock %}