*{
  padding: 0;
  margin: 0;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue",
                Oxygen, Cantarell, sans-serif;
  background: #121212;
  color: rgba(255, 255, 255, 0.50);
}
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
a:hover {
  color: inherit; /* blue colors for links too */
  text-decoration: underline;
}

nav{
  background: rgba(255, 255, 255, .05);
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
}

nav h1{
  text-align: left;
  margin-left: 16px;
  display: inline-block;
  font-family: monospace;
  font-size: xx-large;

}

.pageLinks{
  font-size: x-large;
  text-align: right;
  margin-right: 16px;
  display: inline-block;
}

.pageLinks a{
  margin-left: 16px;
}

nav url{
  list-style: none;
  float: right;
  margin-right: 8px;
}


.indexLogo{
  width: 250px;
  position: absolute;
  left: 16px;
  top: 16px;
}

.centerLogo{
  width: 711px;
  height: 400px;
  -ms-zoom: 0.5;
  -moz-transform: scale(0.6);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.6);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.6);
  -webkit-transform-origin: 0 0;
  border: none;
}
.centerLogoContainer{
  width: calc(711px * 0.6);
  height: calc(400px * 0.6);
  margin-left: auto;
  margin-right: auto;
  margin-top: 13%;
}
.socialLinkContainer{
  width: 100%;
  text-align: center;
  margin-top: 24px;
}
.socialLink{
  margin-left: 16px;
  margin-right: 16px;
}
.socialLink img{
  width: 32px;
}

.indexFooter{
  width: 100%;
  position: absolute;
  bottom: 10%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
