<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - Luke Briggs</title>
    <link rel = "stylesheet" href = "{{ url_for('static', filename='style.css') }}">
    <link rel= "icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}"><h1>Codelab |</h1></a>
        <div class="pageLinks">
            <a href="{{ url_for('index') }}">About</a>
            <a href="{{ url_for('blog.blog') }}">Blog</a>
            <a href="{{ url_for('index') }}">Projects</a>

        </div>
        <url>
            {% if g.user %}
                <li>{{ g.user['username'] }} (Logged in)</li>
                <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
            {% endif %}
        </url>

    </nav>
    <section>
        <header>
            {% block header %}{% endblock %}
        </header>
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
    </section>
</body>
</html>